.navbar{
    background-image: linear-gradient(rgb(0, 89, 255) , rgb(29, 29, 255) );
    height:3.7rem;
    width:100%;
    position:absolute;
    top:0px;
    /* box-shadow: 6px 2px 12px 0px; */
}

h1{
    position: absolute;
    top:1px;
    margin-left:5%;
    display: inline;
}
a{
    font-size: 15px;
    text-decoration: none;
    color:white;
    margin-left:64%;
    position: absolute;
    /* right:25%; */
    top:17px;
    display: inline;
}
.free-trial{
    font-size: 1.1rem;
    font-family: "Georgia", Times, serif;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight:900;
    position: relative;
    right:-9%;
    top:17px;
    display: inline; 
}
a:hover{
    text-decoration: underline;
}
.page-info{
    background-color: rgb(49, 49, 49);
    color:white;
    font-size: 0.7rem;;
    height:2.7rem;
    width:100%;
    position:relative;
    top:44px;
    /* box-shadow: 6px 2px 12px 0px; */
}
h3{
    position:relative;
    top:10px;
    margin-left:6%;
}