.navbar{
    background-image: linear-gradient(rgb(0, 89, 255) , rgb(29, 29, 255) );
    height:2.7rem;
    width:100%;
    position:absolute;
    top:0px;
    box-shadow: 6px 2px 12px 0px;
}

h1{
    position: absolute;
    top:-7px;
    margin-left:5%;
    display: inline;
}
a{
    font-size: 13px;
    text-decoration: none;
    color:white;
    position: absolute;
    right:15%;
}