.nav
{
    background-color: blue;
    width: 100%;
    color: white   ;
    justify-content: space-between;
    height: 1.5cm;
}
.logo
{
    font-size: x-large;
    font-weight: 400;
    padding: 15px;
    margin-left: 15px;
    cursor: pointer;
}
.right 
{

        padding :10px;
    margin-right: 15px;


    /* margin-right: 15px; */
}
.right ul
{
    list-style: none;

}
.right ul li
{
    display: inline-block;
    font-size: large;
}
.right ul li:nth-child(1)
{
    margin-right: 25px;
    cursor: pointer;

}
.right ul li:nth-child(2)
{
background-color: black;    padding: 5px;
cursor: pointer;


}

